# Copia a .env para desarrollo local (NO lo subas a Git)
SECRET_KEY=pon-aqui-una-clave-larga-y-aleatoria
DEBUG=True
# ALLOWED_HOSTS=midominio.com,www.midominio.com
# CACHE_TTL_MACRO=900
# CACHE_TTL_TICKER=300
